$white: #fff;
$black: #000;

$dark-100: #888;
$dark-200: #777;
$dark-300: #666;
$dark-400: #555;
$dark-500: #444;
$dark-600: #333;
$dark-700: #222;
$dark-800: #111;
$dark-900: #040404;

$bright-100: #909090;
$bright-200: #a0a0a0;
$bright-300: #a8a8a8;
$bright-400: #b0b0b0;
$bright-500: #b8b8b8;
$bright-600: #c0c0c0;
$bright-700: #c8c8c8;
$bright-800: #d0d0d0;
$bright-900: #f2f2f2;

$primary-100: #1e2e21;
$primary-200: #2b452f;
$primary-300: #305036;
$primary-400: #386641;
$primary-500: #52753d;
$primary-600: #6a994e;
$primary-700: #87a345;
$primary-800: #a7c957;
$primary-900: #bae25c;

$neutral-100: #262520;
$neutral-200: #423f38;
$neutral-300: #59564d;
$neutral-400: #706b5f;
$neutral-500: #938d7e;
$neutral-600: #a59e8c;
$neutral-700: #bfb7a1;
$neutral-800: #d6cdb7;
$neutral-900: #f2e8cf;
